<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 打印到控制台配置 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 设置打印级别 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <withJansi>true</withJansi>
        <!-- 设置打印格式，设置字符集 -->
        <!--
            格式化输出：%d:表示日期
            %thread:表示线程名
            %-5level:级别从左显示5个字符宽度
            %msg:日志消息 %n:是换行符-->
        <encoder>
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <!-- 日志文件 -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 设置打印级别 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/aresoft/api/log/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>　　　　　　　
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) - %cyan(%msg%n)</pattern>　　　　　　　　　
        </encoder>
    </appender>

    <!-- 日志级别 -->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>

</configuration>